.main-section {
    position: relative;
    flex-grow: 1;
    height: 100vh;
    overflow: hidden;
    background-color: var(--bg-color);
}

.float-container {
    z-index: 999;
}

.top-group, .bottom-group {
    position: relative;
    z-index: 10;
    pointer-events: none;
}

.top-group *, .bottom-group * {
    pointer-events: auto;
}



.top-group {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: var(--base-padding);
    margin-bottom: 2.5em;
}

.svg-name {
    width: 30rem;
    height: auto;
    display: block;
}

.top-group > a {
    flex-shrink: 0;
    display: flex;
}

.bottom-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--base-padding);
    gap: 1rem;
    max-width: 32em;
    position: relative;
    z-index: 1;
    margin-top: -10px;
}

.bottom-group p {
    text-align: left;
}

.top-group * {
    z-index: 10;
}

.top-group p {
    font-size: 1.25rem;
    max-width: 7.5em;
    line-height: 1.4;
    text-align: right;
}

.top-group p, .bottom-group h2 {
    text-wrap: balance;
}

.work-btn {
    display: inline-flex;
    align-items: center;
    border: none;
    background-color: var(--background-color);
    text-decoration: none;
    position: relative;
    cursor: pointer;
    color: var(--accent);
}


.work-btn:hover {
    color: var(--hover);
    font-style: italic;
}

.work-btn:active {
    color: var(--accent);
    transition: var(--color-fade);
}

.work-btn::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: var(--hover);
    transition: width 0.4s ease-in-out;
}

.work-btn:hover::after {
    width: 100%;
}


/* ---------------------------------------------------------------------- */


@media (max-width: 1280px) {
    .top-group p {
        font-size: 1rem;
    }
    .top-group {
        margin-bottom: 1em;
    }
    .bottom-group h2 {
        font-size: 1.7rem;
    }
}

@media (max-width: 768px) {
    .top-group p {
        font-size: .875rem;
        line-height: 1.3;
    }
}

@media (max-width: 420px) {
    .top-group p {
        font-size: .7rem;
    }
}