.side-nav-container {
    padding: 40px 20px;
    height: 100vh;
    width: 125px;
    min-width: 125px;
    background-color: var(--bg-color);
    border-left: var(--border-thin);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-nav-right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    align-items: center;
    text-align: center;
}
