.float-container {
    position: absolute;
    right: 12%;
    top: 50%;
    z-index: 9;

    width: 90%;
    max-width: 600px;
    height: auto;

    transform: translateY(-50%);

    animation: float 6s ease-in-out infinite;
    will-change: transform;
    transition: width 0.3 ease-in-out;
    margin: 0 auto;
    pointer-events: auto;
}

.float-container:hover {
    animation-play-state: paused;
}

.leah-bloom {
    width: 100%;
    height: auto;
    display: block;
    cursor: pointer;
}

@keyframes float {
    0%, 100% {
        transform: translateY(-50%);
    }
    50% {
        transform: translateY(calc(-50% - 20px));
    }
}

/* ---------------------------------------------------------------------- */

@media (max-width: 1280px) {
    .float-container {
        max-width: 500px;
    }
}

@media (max-width: 1024px) {
    .float-container {
        max-width: 400px;
        top: 50%;
    }
}

@media (max-width: 768px) { 
    .float-container {
        max-width: 300px;
        top: 42%;
        right: 15%;
        z-index: 10;
    }
}

@media (max-width: 640px) {
    .float-container {
        width: 75%;
        max-width: 280px;
        top: 40%;
        right: 0;
        left: 0;
        margin: 0 auto;
        z-index: 10;
    }
}