.float-container {
    position: absolute;
    right: 12%;
    bottom: 0;
    z-index: 9;
    animation: float 6s ease-in-out infinite;
    width: 600px;
    height: auto;
    will-change: transform;
    transform: translateY(60px);
}

.float-container:hover {
    animation-play-state: paused;
}

.leah-bloom {
    width: 100%;
    height: auto;
    display: block;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

@keyframes float {
    0% { top: 0px; }
    50% { top: -20px; }
    100% { top: 0px; }
}

/* ---------------------------------------------------------------------- */

@media (max-width: 768px) { 
    .float-container {
        width: clamp(300px, 14vw, 600px);
        transition: width 0.3s ease-in-out;
    }
}