.main-section {
    position: relative;
    flex-grow: 1; /* Tells to fill middle gap */
    height: 100vh;
    overflow-y: auto; /* Allows middle to scroll */
    background-color: var(--bg-color);
}

.leah-bloom {
    position: absolute;
    width: 100%;
    max-width: 800px;
    right: 0;
    bottom: 0;
    z-index: 9;
}

.top-group {
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: var(--base-padding);
}

.bottom-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--base-padding);
    gap: 1rem;
    max-width: 525px;
}

.bottom-group p {
    text-align: left;
}

.top-group * {
    z-index: 10;
}

.top-group p {
    max-width: 150px;
    text-align: right;
}