.logo {
    margin-bottom: 10px;
    display: block;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    line-height: 25px;
    font-weight: 200;
}

.logo:hover {
    color: var(--hover);
    transition: var(--color-fade);
    cursor: pointer;
}

.logo:active {
    color: var(--text-main);
    transition: var(--color-fade);
}

.navbar-container {
    background-color: var(--bg-color);
    width: 125px;
    height: 100vh;
    border-right: var(--border-thin);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 10px;
    justify-content: space-between;
}

.navbar-container p {
    text-align: center;
    line-height: 1.4;
    padding: 0 5px;
}

.nav-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
}

.nav-links {
    margin-top: 10px;
    transition: transform 0.3s ease-in-out;
    transform-origin: center;
}

.nav-links a:hover {
    color: var(--hover);
    transition: var(--color-fade);
    transform: scale(1.10);
}

.nav-links a:active {
    color: var(--text-main);
    transition: var(--color-fade);
    transform: scale(0.98);
}

.social-icons {
    display: flex;
    gap: 2px;
    margin-bottom: 8px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-center;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--text-main);
}

.nav-icon {
    color: var(--accent);
}

.nav-icon:hover {
    color: var(--hover);
    transition: var(--color-fade);
}

.nav-icon:active {
    color: var(--accent);
    transition: var(--color-fade);
}

p {
    text-align: center;
}

.back-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: opacity 0.3s ease;
}

.back-arrow-icon {
    font-size: 2rem;;
}

.back-text {
    font-size: var(--text-base);
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 10px;
}

.back-button-container:hover .back-arrow-icon,
.back-button-container:hover .back-text {
    color: var(--hover);
    transition: var(--color-fade);
}

.back-button-container:active .back-arrow-icon,
.back-button-container:active .back-text {
    color: var(--accent);
    transition: var(--color-fade);
}