
h2 {
    font-family: var(--font-jakarta);
}

.navbar-container {
    background-color: var(--bg-color);
    width: 125px;
    height: 100vh;
    border-right: 1px solid #1C1C1C;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 10px;
}


.flex-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-center;
}

a {
    text-decoration: none;
    color: var(--text-main);
}