.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    padding: 0 var(--base-padding);
}

.work {
    position: sticky;
    top: 0;
    z-index: 26;

    background-color: var(--bg-color);
    
    width: 100%;
    margin: 0;
    padding: 2rem 0;
    text-align: center;

    box-shadow: 0 10px 30px -10px var(--bg-color);

    background: linear-gradient(
        to bottom,
        var(--bg-main) 0%,
        var(--bg-main) 80%,
        transparent 100%
    );
    padding-bottom: 2rem;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    margin-bottom: 150px;
    position: relative;
}

.card-container::before {
  content: "";
  position: absolute;
  z-index: 1;
  background-color: var(--text-main);
  width: 1px;
  /* use vw for scaling of vertical line across breakpoints */
  /* height: 45vw;
  min-height: 350px; */
  height: 75%;
  top: 15%;
}

.top-scroll {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-scroll {
    display: flex;
    justify-content: center;
    border-radius: var(--border-thin);
    padding: 1rem;
    background-color: var(--bg-color);
}

@media (max-width: 1024px) {
    .card-container::before {
        display: none;
    }
}