.svg-name path.color,
.svg-name stop.color {
    transition: fill 0.5s ease, stop-color 0.5s ease;
}

.svg-name {
    width: 30rem;
    height: auto;
    display: block;
    aspect-ratio: 494 / 188;
    cursor: pointer;
}

.svg-name:hover path.color {
    fill: var(--hover);
}

.svg-name:hover stop.color {
    stop-color: var(--hover);
}

.svg-name:active path.color {
    fill: var(--text-main);
}

.svg-name:active stop.color {
    stop-color: var(--text-main);
}

/* ---------------------------------------------------------------------- */


@media (max-width: 1280px) {
    .svg-name {
        max-width: 25rem;
        transition: width 0.3s ease-in-out;
    }
}

@media (max-width: 1024px) {
    .svg-name {
        max-width: 20rem;
    }
}

@media (max-width: 768px) {
    .svg-name {
        max-width: 20rem;
    }
}

@media (max-width: 640px) {
    .svg-name {
        max-width: 17rem;
    }
}