* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px rgba(255, 0, 0, 0.324) solid; */
}

body {
  margin: 0;
  padding: 0;
}


.app-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.main-content-wrapper {
  flex-grow: 1;
  overflow-y: auto;
}